@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*===================== Resultado Final =========================*/

#resultado {
    position: absolute;
    margin: auto;
    background-color: white;
    width: 800px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.575);
    display: none;
}

#resultado button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    border: 1px solid rgb(0, 59, 0);
    color: white;
    height: 80px;
    width: 160px;
    font-size: 1.3em;
    border-radius: 10px;
}

#resultado button:hover {
    background-color: rgb(2, 170, 2);
    cursor: pointer;
}

#resultado button:active {
    background-color: rgb(0, 66, 0);
}

#textoFinal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textoFinal div {
    position: absolute;
    width: 200px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
}

#ganhou {
    color: rgb(60, 192, 60);
    display: none;
}

#perdeu {
    color: rgb(100, 3, 3);
    display: none;
}

/*====================== Tela Principal ========================*/

section {
    height: 100vh;
    max-width: 100%; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    background-image: linear-gradient(90deg, rgb(48, 24, 17), black, black, black, rgb(48, 24, 17));
}

header,
footer {
    min-height: 10%px;
    background-image: linear-gradient(64deg, rgb(202, 255, 202), rgb(122, 138, 118), rgb(62, 82, 55));
    display: flex;
    align-items: center;
}

header {
    border-bottom: 2px solid gray;
    justify-content: space-around;
    grid-area: header; 
}

#titulo {
    line-height: 20px;
    font-size: 2em;
    color: white;
    cursor: default;
    text-shadow: 0px 0px 6px black;
}

footer {
    border-top: 2px solid gray;
    flex-direction: column;
    padding: 10px;
    grid-area: footer;
}

footer p {
    color: rgb(6, 32, 6);
    cursor: default;
}

footer a {
    color: white;
    text-shadow: 0px 0px 6px black;
    font-size: 1.1em;
}

/*=============== Conteudo do jogo ==============*/

main {
    max-width: 1200px;
    min-width: 300px;
    width: 100%;
    min-height: 80%;
    margin: 0 auto;
    background-image: url("images/mesa.jpg");
    background-size: cover;
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-areas: "papel quadro mesa";
}

/*============== Papel ===================*/

#papel {
    display: grid;
    gap: 20px;
    grid-area: papel;
}

#imgforca {
    background: url('images/papel0.png');
    background-size: contain;
    height: 200px;
    width: 200px;
    margin: 10px auto;

}

#dicaforca {
    height: 1.5em;
    width: 180px;
    color: rgba(22, 13, 3, 0.63);
    font-family: 'Schoolbell', cursive;
    margin: 5px auto;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.2em;

}

#dicaforca:hover {
    text-shadow: 0px 0px 25px white;
    transition: 0.5s;
    cursor: help;
}

/*================= Quadro ====================*/

#quadro {
    grid-area: quadro;
    padding: 10px;
    display: flex;
    align-items: center;
}

#quadroInterno {
    background: url('images/board.jpg') no-repeat center;
    background-size: cover;
    border: 4px outset rgb(139, 116, 58);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
    min-width: 330px;
    height: 280px;
    gap: 20px;
}


#palavraforca {
    font-family: 'Schoolbell', cursive;
    color: white;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    font-size: 1.7em;
    cursor: default;
}


#teclado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.tecla {
    font-family: 'Schoolbell', cursive;
    font-weight: 400;
    color: white;
    height: 50px;
    width: 50px;
    margin: 0;
    text-align: center;
    line-height: 50px;
}

.tecla:hover {
    transform: scale(1.05);
    color: rgb(255, 230, 0);
    cursor: pointer;
}

.tecla:active {
    transform: scale(1);
}

/*============== Mesa ============*/

#mesa {
    grid-area: mesa;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 50px;
}

#refresh {
    width: 60px;
    height: 60px;
    background-image: url('images/refresh.png');
    background-size: contain;
    border-radius: 30px;
}

#refresh:hover {
    background-color: rgb(200, 255, 200);
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.877);
    cursor: pointer;
    transform: scale(1.1);
}

#refresh:active {
    background-color: rgb(108, 233, 108);
    transform: scale(1);
}

/*====================== Mobile =====================*/

@media (max-width: 650px) {
   
    main {
        width: 100%;
        max-width: 100%;
        grid-template-columns: auto 85% auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            ". papel mesa" 
            ". quadro mesa"
            ". quadro mesa";
    }

    #papel {
        grid-template-columns: 1fr 1fr;
    }

    #quadroInterno {
        min-width: 300px;
        height: 390px;
        gap: 0;
    }
    
    #teclado {
        width: 280px;
        height: 300px;
        margin: 5px auto 2px auto;
    }

    #dicaforca {
        width: 100px;
        height: 3em;
        
    }
    
    #imgforca {
        height: 125px;
        width: 125px;
    
    }

    #resultado {
        width: 400px;
        height: 550px;
    }

    #refresh {
        margin-left: -40%;
        margin-bottom: -30%;
    }

}
